body {
    text-align: center;
    color: lightcoral;
    background-image: linear-gradient(rgb(80,80,80), rgb(30,30,30));
}

ul {
    list-style-type: none;
    margin-right: 50px;
}

input, button {
    font-size: 17px;
    padding: 5px 10px;
    border: 2px solid rgb(50,50,50);
    border-radius: 10px;
}

#nameSearch {
    margin-left: 50px;
}

li {
    text-align: center;
    font-size: 17px;
    width: 150px;
    background-color: rgb(100,100,100);
    background-image: radial-gradient(rgba(150, 225, 255,1),rgb(150, 225, 255,0.25));
    margin: 10px;
    border-radius: 25%;
    display: inline-block;
    color: black;
    border: 2px solid black;
}

img {
    margin-top: 10px;
}

p {
    margin-top: 40px;
}

a {
    color: lightblue;
}