body {
    background-color: rgb(255, 220, 210);
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    text-align: center;
    width: 150px;
    float: left;
    background-color: lightgoldenrodyellow;
    margin: 10px;
}

img {
    margin-top: 10px;
}