body {
    text-align: center;
    color: rgb(220,220,220);
}

html {
    background-image: linear-gradient(rgb(80,80,80), rgb(30,30,30));
}

ul {
    list-style-type: none;
    margin-right: 50px;
}

input, button {
    font-size: 17px;
    padding: 5px 10px;
    border: 2px solid rgb(50,50,50);
    border-radius: 10px;
}

button {
    background-color: dodgerblue;
    color: white;
}

input {
    background-color: rgb(40,40,40);
    color: lightblue
}


#nameSearch {
    margin-left: 50px;
}

li {
    background-color: rgb(220,220,220);
    background-image: radial-gradient(lightblue, dodgerblue);
    border: 2px solid lightblue;
    margin: 10px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    width: 400;
    text-align: center;
}

.pokemon {
    text-align: center;
    font-size: 17px;
    width: 150px;
    background-color: rgb(100,100,100);
    background-image: radial-gradient(rgba(250, 250, 250,1),rgba(80, 80, 80));
    margin: 10px;
    border-radius: 25%;
    display: inline-block;
    color: black;
    border: 2px solid grey;
    padding: 0px;
    transition: all 0.125s ease-in-out;
}

.pokemon:hover {
    transform: scale(1.1);
    background-color: rgb(220,220,220);
    background-image: radial-gradient(lightblue, dodgerblue);
    border: 2px solid lightblue;
    color: white;
}

img {
    margin-top: 10px;
}

p {
    margin-top: 40px;
}

a {
    color: lightcoral;
}